@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}
@if (!SignInManager.IsSignedIn(User))
{ 
    <div class="text-center">

        <img style="max-width: 650px" src="~/images/ScrivenerLogoNew.gif" />
        <h1 style="color:black">A helpful companion application for aspiring Dungeon Masters</h1>
    </div>
}