@model Capstone.Models.Monster

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Monster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HitPoints" class="control-label"></label>
                <input asp-for="HitPoints" class="form-control" />
                <span asp-validation-for="HitPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArmorClass" class="control-label"></label>
                <input asp-for="ArmorClass" class="form-control" />
                <span asp-validation-for="ArmorClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeedWalk" class="control-label"></label>
                <input asp-for="SpeedWalk" class="form-control" />
                <span asp-validation-for="SpeedWalk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeedSwim" class="control-label"></label>
                <input asp-for="SpeedSwim" class="form-control" />
                <span asp-validation-for="SpeedSwim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeedFly" class="control-label"></label>
                <input asp-for="SpeedFly" class="form-control" />
                <span asp-validation-for="SpeedFly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strength" class="control-label"></label>
                <input asp-for="Strength" class="form-control" />
                <span asp-validation-for="Strength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dexterity" class="control-label"></label>
                <input asp-for="Dexterity" class="form-control" />
                <span asp-validation-for="Dexterity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Constitution" class="control-label"></label>
                <input asp-for="Constitution" class="form-control" />
                <span asp-validation-for="Constitution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intelligence" class="control-label"></label>
                <input asp-for="Intelligence" class="form-control" />
                <span asp-validation-for="Intelligence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wisdom" class="control-label"></label>
                <input asp-for="Wisdom" class="form-control" />
                <span asp-validation-for="Wisdom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Charisma" class="control-label"></label>
                <input asp-for="Charisma" class="form-control" />
                <span asp-validation-for="Charisma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavingThrows" class="control-label"></label>
                <input asp-for="SavingThrows" class="form-control" />
                <span asp-validation-for="SavingThrows" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChallengeRating" class="control-label"></label>
                <input asp-for="ChallengeRating" class="form-control" />
                <span asp-validation-for="ChallengeRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
