@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Capstone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-soalr.min.css" />


    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
       
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" asp-area=""><img style="max-width: 60px" src="~/images/ScrivenerLogoNew.gif" alt="Scrivener" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            @if (!SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item" style="font-size: 30px; color:black">
                                    <p>
                                        Welcome to Scrivener!
                                    </p>
                                </li>
                            }
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item" style="font-size: 30px">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Character" asp-action="Index">Characters |</a>
                                    </li>
                                    <li class="nav-item" style="font-size: 30px">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Monster" asp-action="Index">Monsters |</a>
                                    </li>
                                    <li class="nav-item" style="font-size: 30px">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Encounter" asp-action="Index">Encounters</a>
                                    </li>
                                }
                            </ul>
                    </div>
                </div>

            </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Scrivener
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
